<% content_for :extra_head do %>
  <%= meta_tags title: "Login", description: "Login to GeyserList" %>
<% end %>

<form class="form-signin" method="post" action="/authenticate">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="text-center mb-4">
    <%= image_tag "icon.png", class: "mb-4", alt: "Geyser Logo", width: "72", height: "72" %>
    <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
    <p>
      Sign in with an integration.<br />
      If an account does not exist, a new one will be created!
    </p>
  </div>

  <%= link_to (button_tag raw('<i class="fab fa-discord"></i> Sign in with Discord'), class: 'mb-3 btn btn-lg btn-block btn-dark btn-discord'), "/login/discord", class: 'text-decoration-none' %>
  <%= link_to (button_tag raw('<i class="fab fa-google"></i> Sign in with Google'), class: 'mb-3 btn btn-lg btn-block btn-dark btn-google'), "/login/google", class: 'text-decoration-none' %>
  <%= link_to (button_tag raw('<i class="fab fa-apple"></i> Sign in with Apple'), class: 'mb-3 btn btn-lg btn-block btn-dark btn-apple'), "/login/apple", class: 'text-decoration-none' %>
  <%= link_to (button_tag raw('<i class="fab fa-github"></i> Sign in with GitHub'), class: 'mb-3 btn btn-lg btn-block btn-dark btn-github'), "/login/github", class: 'text-decoration-none' %>
  <hr class="small-hr">
  <%= link_to (button_tag raw('<i class="fas fa-times-circle"></i> Cancel'), class: 'btn btn-lg btn-block btn-danger'), "/", class: 'text-decoration-none' %>
  <p class="mt-5 mb-3 text-muted text-center">Copyright &copy; GeyserMC 2019 - <%= Time.now.year %></p>
</form>
