<% content_for :extra_head do %>
  <%= meta_tags title: "Login", description: "Login to GeyserList" %>
<% end %>

<div class="form-signin">
  <div class="text-center mb-4">
    <%= image_tag "icon.png", class: "mb-4", alt: "Geyser Logo", width: "72", height: "72" %>
    <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
    <p>
      Sign in with an integration.<br />
      If an account does not exist, a new one will be created!
    </p>
  </div>

  <%= service_sign_in_button "Discord" %>
  <%= service_sign_in_button "Google" %>
  <%= service_sign_in_button "Apple" %>
  <%= service_sign_in_button "GitHub" %>
  <%= service_sign_in_button "Xbox" %>
  <hr class="small-hr">
  <%= link_to (button_tag raw('<i class="fas fa-times-circle"></i> Cancel'), class: 'btn btn-lg btn-block btn-danger'), "/", class: 'text-decoration-none' %>
  <p class="mt-5 mb-3 text-muted text-center">Copyright &copy; GeyserMC 2019 - <%= Time.now.year %></p>
</div>
