<% content_for :extra_head do %>
  <title>Register with Discord - GeyserList</title>
  <meta property="og:title" content="Register with Discord - GeyserList" />
  <meta property="og:description" content="Register with Discord for GeyserList" />
  <meta name="description" content="Register with Discord for GeyserList" itemprop="description">
  <meta property="twitter:title" content="Register with Discord - GeyserList">
<% end %>

<form class="form-signin" method="post" action="/registration/complete">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="text-center mb-4">
    <%= image_tag "icon.png", class: "mb-4", alt: "Geyser Logo", width: "72", height: "72" %>
    <h1 class="h3 mb-3 font-weight-normal"><%= t('.title', integration: session[:kind].capitalize) %></h1>
    <p><%= t('.subtitle') %></p>
  </div>

  <div class="form-label-group">
    <input type="text" name="username" id="username" class="form-control" placeholder="Username" required autofocus>
    <label for="username"><%= t('username') %></label>
  </div>

  <br />
  <button type="submit" class="btn btn-lg btn-primary btn-block" id="button1"><%= t('.complete') %></button>
  <br />
  <%= link_to (button_tag raw('<i class="fas fa-times-circle"></i> Cancel'), class: 'btn btn-lg btn-block btn-danger'), "/login", class: 'text-decoration-none' %>

  <p class="mt-5 mb-3 text-muted text-center">Copyright &copy; GeyserMC 2019 - <%= Time.now.year %></p>
</form>

<script>
    window.onload = function () {
        $('form').submit(function(){
            $(this).find('button[type=submit]').prop('disabled', true);
            $(this).find('button[type=submit]').html('Setting your account up...');
        });
    }
</script>