<div id="review_by_<%= e.user_id %>" class="card <%= 'border-danger' if e.rating == 1 %> <%= 'border-success' if e.rating == 5 %> mb-3">
  <div class="card-header">
    <a href="/profile/<%= profile.username %>"><%= profile.username %></a>
    &#xb7; <%= e.time_ago %> &#xb7;
    <span style="display: inline">
      <% (1..5).each do |j| %>
        <span class="fa fa-star <%= 'checked' if e.rating >= j %>"></span>
      <% end %>
    </span>
    <a class="btn btn-sm float-right" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display: flex;">
      <i class="fas fa-ellipsis-h"></i>
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <%= link_to "Delete", "/review/:id/delete",
                  method: :delete,
                  data: { confirm: "Are you sure you want to delete this review? Please only delete it if it violates the rules." },
                  class: 'dropdown-item',
                  style: 'color: red' %>
    </div>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%= e.review %></p>
    </blockquote>
  </div>
</div>