<section class="section">
  <div class="container">
    <br>
    <h2>New Server</h2>
    <%= form_with(model: @server) do |f| %>
      <div class="form-group">
        <%= f.label(:name, "Name") %>
        <%= f.text_field(:name, value: @server.name, class: "form-control", required: true, disabled: true) %>
      </div>
      <div class="form-group">
        <%= f.label(:name, "Description") %>
        <%= f.text_area(:description, value: @server.description, class: "form-control", placeholder: "Your server's description. Markdown supported.", size: "24x6") %>
      </div>
      <div class="form-group">
        <%= f.label(:name, "Java Server IP") %>
        <%= f.text_field(:java_ip, value: @server.java_ip, class: "form-control", required: true, disabled: true) %>
      </div>
      <div class="form-group">
        <%= f.label(:name, "Geyser IP") %>
        <%= f.text_field(:bedrock_ip, value: @server.bedrock_ip, class: "form-control", required: true, disabled: true) %>
      </div>
      <div class="form-group">
        <%= f.label(:name, "Website (Optional)") %>
        <%= f.text_field(:website, value: @server.website, class: "form-control", placeholder: "Website (Optional)") %>
      </div>
      <div class="form-group">
        <%= f.label(:name, "Discord Invite (Optional)") %>
        <%= f.text_field(:discord, value: @server.discord, class: "form-control", placeholder: "Discord Server Invite (Optional)") %>
      </div>

      <%= f.submit("Save", class: "btn btn-primary") %>
    <% end %>
    <br>
    <script>
        var descEditor = new InscrybMDE({
            element: document.getElementById("server_description"),
            spellChecker: false,
            status: false,
            promptURLs: true,
            autoDownloadFontAwesome: false
        });

        document.addEventListener('turbolinks:load', function () {
            descEditor.render();
        })

        document.addEventListener('turbolinks:before-cache', function () {
            descEditor.toTextArea();
        })
    </script>
  </div>
</section>