<section class="section">
  <div class="container">
    <br>
    <h2><%= t('.new_server') %></h2>
    <%= form_with(model: @server) do |f| %>
      <div class="form-group">
        <%= f.label(:name, t('name')) %>
        <%= f.text_field(:name, value: flash[:server]['name'], class: "form-control", required: true, placeholder: t('.enter_server_name')) %>
      </div>
      <div class="form-group">
        <%= f.label(:name, t('description')) %>
        <%= f.text_area(:description, value: flash[:server]['description'], class: "form-control", placeholder: t('.enter_description'), size: "24x6") %>
      </div>
      <div class="form-group">
        <%= f.label(:name, t('java_ip')) %>
        <%= f.text_field(:java_ip, value: flash[:server]['java_ip'], class: "form-control", required: true, placeholder: t('java_ip')) %>
      </div>
      <div class="form-group">
        <%= f.label(:name, t('geyser_ip')) %>
        <%= f.text_field(:bedrock_ip, value: flash[:server]['bedrock_ip'], class: "form-control", required: true, placeholder: t('geyser_ip')) %>
      </div>
      <div class="form-group">
        <%= f.label(:name, "Website (Optional)") %>
        <%= f.text_field(:website, value: flash[:server]['website'], class: "form-control", placeholder: "Website (Optional)") %>
      </div>
      <div class="form-group">
        <%= f.label(:name, "Discord Invite (Optional)") %>
        <%= f.text_field(:discord, value: flash[:server]['discord'], class: "form-control", placeholder: "Discord Server Invite (Optional)") %>
      </div>
      
      <%= f.submit(t('submit'), class: "btn btn-primary") %>
    <% end %>
    <br>
    <script>
      var descEditor = new InscrybMDE({
        element: document.getElementById("server_description"),
        spellChecker: false,
        status: false,
        promptURLs: true,
        autoDownloadFontAwesome: false
      });

      document.addEventListener('turbolinks:load', function () {
        descEditor.render();
      })

      document.addEventListener('turbolinks:before-cache', function () {
        descEditor.toTextArea();
      })
    </script>
  </div>
</section>