<section class="section">
  <div class="container">
    <br>      
    <h1><%= @server.name %></h1>

    <div class="row">
      <div class="col col-12 col-md-auto mr-md-1 mb-2 mb-md-0">
        <div class="card">
          <div class="card-header text-white bg-primary">
            Server Information
          </div>
          <div class="table-responsive">
            <table class="table mb-0">
              <tbody>
                <tr>
                  <th scope="row">Owner</th>
                  <td><%= @owner.username %> <%= @owner.verified_icon %></td>
                </tr>
                <tr>
                  <th scope="row">Bedrock IP</th>
                  <td>
                    <div class="input-group">
                      <input type="text" class="form-control" id="input-bedrock-ip" placeholder="Server IP" aria-label="Server IP" aria-describedby="button-bedrock-ip" value="<%= @server.bedrock_ip %>" readonly>
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" data-clipboard-action="copy" data-clipboard-target="#input-bedrock-ip" type="button" id="button-bedrock-ip"><i class="far fa-clipboard"></i></button>
                        <button class="btn btn-outline-secondary" type="button" id="button-play" onclick="addServer('<%= @server.name %>', '<%= @server.bedrock_ip %>')"><i class="fas fa-play"></i></button>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Java IP</th>
                  <td>
                    <div class="input-group">
                      <input type="text" class="form-control" id="input-java-ip" placeholder="Server IP" aria-label="Server IP" aria-describedby="button-java-ip" value="<%= @server.java_ip %>" readonly>
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" data-clipboard-action="copy" data-clipboard-target="#input-java-ip" type="button" id="button-java-ip"><i class="far fa-clipboard"></i></button>
                      </div>
                    </div>
                  </td>
                </tr>
                <% if @info.offline? %>
                <tr>
                  <th scope="row">Status</th>
                  <td><h4 class="mb-0"><span class="badge badge-danger" data-toggle="tooltip" data-placement="bottom" title="As of <%= @info.timestamp %>">Offline</span></h4></td>
                </tr>
                <% else %>
                <tr>
                  <th scope="row">Status</th>
                  <td><h4 class="mb-0"><span class="badge badge-success" data-toggle="tooltip" data-placement="bottom" title="As of <%= @info.timestamp %>">Online</span></h4></td>
                </tr>
                <tr>
                  <th scope="row">Players</th>
                  <td><%= @info.players %> / <%= @info.max_players %></td>
                </tr>
                <tr>
                  <th scope="row">Bedrock Version</th>
                  <td><%= @info.version.split(' ').last %></td>
                </tr>
                <tr>
                  <th scope="row">Geyser Version</th>
                  <td><%= link_to @version_info, "https://github.com/GeyserMC/Geyser/compare/#{@commit}...#{@branch}" %></a></td>
                </tr>
                <% end %>
                <% if @server.discord? %>
                <tr>
                  <th scope="row">Discord</th>
                  <td><%= link_to @server.discord, @server.discord %></td>
                </tr>
                <% end %>
                <% if @server.website? %>
                <tr>
                  <th scope="row">Website</th>
                  <td><%= link_to @server.website, @server.website %></td>
                </tr>
                <% end %>
                <% if session[:id] == @server.user_id %>
                <tr>
                  <th scope="row">Last Queried</th>
                  <td><%= distance_of_time_in_words_to_now @info.timestamp %> ago - <%= link_to "Re-Query", "/servers/#{params['id']}/query", method: :post %></td>
                </tr>
                <tr>
                  <th scope="row">Actions</th>
                  <td>
                    <%= link_to "Edit", "/servers/#{params['id']}/edit" %> -
                    <%= link_to "Delete", server_path, method: :delete, data: { confirm: 'Are you sure? This cannot be undone.' } %>
                  </td>
                </tr>
                <% end %>
            </table>
          </div>
        </div>
      </div>
      <div class="col ml-md-1">
        <div class="card">
          <div class="card-header text-white bg-primary">
            Description
          </div>
          <div class="card-body">
            <% unless @server.banner.blank? %>
            <img src="<%=  @server.banner  %>" alt="Server Banner"/>
            <% end %>
            <%= raw @server.rendered_description %>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <h2>Reviews</h2>
        <p>Total Reviews: <%= @reviews.length %></p>
        <p>Average Rating: <%= ratings = @reviews.map(&:rating); ratings.sum.to_f/ratings.count %> / 5.0</p>
        <% if @reviews.map(&:user_id).include?(@user.id) %>
          <p>You have already reviewed this server! Click here to go to it.</p>
        <% else %>
          <div id="review_server" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Reviewing <%= @server.name %></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form id="responseform" action="/servers/<%= @server.id %>/review" method="post">
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                    <h3 id="rating">Rating</h3>
                    <p>If your rating differs from 5, pleace select your prefered rating.</p>
                    <p>
                      <span id="stars" style="z-index: 10000000;">
                        <% (1..5).each do |i| %>
                          <span id="star<%= i %>" onclick="updateStars(<%= i %>)" class="fa fa-star checked" style="font-size: 150%;"></span>
                        <% end %>
                      </span>
                    </p>

                    <input id="ratingInput" type="number" min="1" max="5" name="rating" aria-describedby="rating" required hidden value="5" />
                    <h3>Comments</h3>
                    <p>
                      Leave comments about the server. Optional, but if you decide to, your input must be between 50 and 2000 characters long.
                      Reviews containing any spam or filler characters will be removed.
                    </p>
                    <textarea type="text" class="form-control" id="response" name="review" placeholder="Enter Review" minlength="50" maxlength="2000"><%= flash[:review] %></textarea>
                  </form>
                </div>
                <div class="modal-footer">
                  <button form="responseform" id="responsebutton" type="submit" class="btn btn-success">Submit</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>
          <p><button class="btn btn-primary" data-toggle="modal" data-target="#review_server">Leave a Review</button></p>
        <% end unless @user.nil? || @user.id == @server.user_id %>

        <% @reviews.reverse.each_with_index do |e, i| %>
          <%= render partial: 'review', locals: { e: e, options: true, i: i, profile: @profiles.find{|p| p.id == e.user_id}, id: "#{e.server_id}jumb" } %>
        <% end %>
      </div>
    </div>
  </div>
</section>